# File              : values.yaml
# Author            : Alexandre Saison <alexandre.saison@inarix.com>
# Date              : 09.11.2021
# Last Modified Date: 14.11.2021
# Last Modified By  : Alexandre Saison <alexandre.saison@inarix.com>
# Default values for simba.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  port: 1337
  env: "production"
  channelId: ""
  slackToken: ""
  cronExpression: "0 0 10 ? * MON-FRI"
  giphyToken: ""

db:
  host: ""
  name: ""
  user: ""
  password: ""

image:
  repository: asaison/simba
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v0.1.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: "nginx"
  annotations:
    # kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: simba.inarix.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: simba-tls-secret
      hosts:
        - simba.inarix.com

resources:
   limits:
     cpu: 100m
     memory: 128Mi
   requests:
     cpu: 100m
     memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector:
  name: default

tolerations: []

affinity: {}
